aiofiles
aiohttp
beautifulsoup4
cfscrape
cryptg
emoji
mtranslate
googletrans
google_images_download
gsearch>=1.6.0
gtts
hachoir
Pillow
psycopg2
python-magic
regex
requests
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
git+https://github.com/ahupp/python-magic
google-api-python-client
oauth2client
httplib2
lxml
PyGithub
qrcode
pytz
selenium
webdriver-manager
cowpy
cowsay
pyfiglet
git+https://github.com/LonamiWebs/Telethon
humanize
telethon
selenium
aria2p
